<section id="notice">
	<div class="page-header">
	    <h2><%= link_to @notice.facility.client.name, @notice.facility.client %> : <%= link_to @notice.facility.name, @notice.facility %> : <%= link_to @notice.notice_type.humanize, @notice %></h2>
	</div>
	<div class="row">	
		<div class="span12">
			<div class="panel">
			  <h3>
					<%= @notice.summary %>	
				</h3>
			
				<div class="details">
					<div class="notice-response">
						<%= @notice.detail %>
					</div>
					
				  <p><strong>Status:</strong> <%= @notice.status %></p>
				  <p><strong>Priority:</strong> <%= @notice.priority %></p>
					
					
					<div class="notice-specs">
						<p>
							<b><%= @notice.notice_type.humanize %></b> posted by <%= link_to @notice.user.name, @notice.user %>			
							for <%= link_to @notice.facility.name, @notice.facility %> <%= time_ago_in_words(@notice.created_at) %> ago.
							
							<% if @notice.user == current_user %>
								<div class="notice-controls">
									<%= link_to "Edit", edit_notice_path(@notice) %> |
								  <%= link_to "Destroy", @notice, :confirm => 'Are you sure?', :method => :delete %> |
								  <%= link_to "View All Notices", notices_path %>
								</div>
							<% end %>	
						</p>
					</div>
				</div>
			</div>			
		
			<div class="panel">
				<div class="details">
					<input type="textarea" style="width:100%; height:4em">
					<input type="submit" class="btn btn-info" value="Post and Close Notice">
					<input type="submit" class="btn" value="Post a Reponse">
				</div>
			</div>
		</div>	
	</div>
</section>