<section id="client-show">
	<div class ="page-header">
		<h2><%= @client.name %></h2>
	</div>

	<div class="row">
		<div class="span4">
			<%= link_to 'Back to Dashboard', :root %>
			<h2>ID: <%= @client.id %></h2>
			<h6>Created <%= @client.created_at.strftime("%m/%d/%Y | %I:%M%p") %>.</h6>
			<p>This is where a description of the client would go. Maybe
				a list of all Client Users that have access to the system?</p>
			<%= link_to 'Edit Client Details', edit_client_path, :class => 'btn btn-info' %>
		</div>
		<div class="span8">		
			<div class="panel">
				<h3>All Notices for <%= @client.name %> properties</h3>
				<div class="details">
					<%= link_to 'Open a New Notice', new_notice_path, :class => 'btn pull-right' %>
					<%= render 'notices/notice_detail' %>	
				</div>
			</div>
		
			<div class="panel">
				<h3>Facilities Served</h3>
				<div class="details">
					<%= link_to 'Add Facility', new_facility_path, :class => 'btn pull-right' %>
					<% if @client.facilities %>
						<ul>
							<% @client.facilities.each do |facility| %>
								<li><%= link_to "#{facility.name}", facility %></li>
							<% end %>
						</ul>
					<% else %>	
						<p>There are currently no facilities associated with <%= @client.name %>.</p>
					<% end %>	
				</div>
			</div>
			
			<div class="panel">
				<h3>Client Contact Information</h3>
				<div class="details">
					<p><b>Name:</b> <%= @client.name %></p>
					<p><b>Billing address:</b> <%= "#{@client.billing_address} | #{@client.billing_zip}" %></p>
					<p><b>Contact:</b> <%= @client.contact_name %></p>
					<p><b>Contact email:</b> <%= link_to @client.contact_email,
					 														 "mailto:#{@client.contact_email}"%></p>
					<p><b>Contact phone:</b> <%= @client.contact_phone %></p>
				</div>
			</div>
			
		</div>
	</div>
</section>