<section id="facility-show">
	<div class ="page-header">
		<h1><%= link_to @facility.client.name, @facility.client unless @facility.client == nil %> : <%= @facility.name %></h1>
	</div>

	<div class="row">
		<div class="span4">
			<h2>ID: <%= @facility.id %></h2>
			<h6>Created <%= @facility.created_at.strftime("%m/%d/%Y | %I:%M%p") %>.</h6>
			<p><b>Facility Name:</b><br /><%= @facility.name %></p>
			<p><b>Physical address:</b><br /><%= "#{@facility.address} #{@facility.zip}" %></p>
			<p><b>Local Contact:</b><br /><%= @facility.contact_name %></p>
			<p><b>Local Contact Email:</b><br /><%= link_to @facility.contact_email, "mailto:#{@facility.contact_email}"%></p>
			<p><b>Local Contact Phone:</b><br /><%= @facility.contact_phone %></p>
			<%= link_to 'Edit Facility Information', edit_facility_path, :class => 'btn' %>
		</div>
		<div class="span8">
			
			<div class="panel">
				<h3>Notices for <%= @facility.name %></h3>
				<div class="details">
					<%= link_to 'Open a New Notice', new_notice_path, :class => 'btn pull-right' %>
					<ul class="tabs nav nav-tabs">
					  <li><a href="#open-notices" data-toggle="tab"><%= @open_notices.count %> open notices</a></li>
					  <li><a href="#closed-notices" data-toggle="tab"><%= @closed_notices.count %> closed notices</a></li>
					</ul>
					
					<div class="tab-content">
					  <div class="tab-pane active" id="open-notices">
					  	<%= render 'notices/open-notices' %>	
					  </div>
					  <div class="tab-pane" id="closed-notices">
							<%= render 'notices/closed-notices' %>
					  </div>
					</div> <!-- /tab-content> -->
					
				</div>
			</div>
		
			<div class="panel">
				<h3>Recent Inspections</h3>
				<div class="details">
					<%= link_to 'New Inspection', new_inspection_path, :class => 'btn pull-right' %>
					<% if @facility.inspections.any? %>
						<ul>
							<% @facility.inspections.each do |inspection| %>
								<li><%= link_to "#{inspection.name}", inspection %></li>
							<% end %>
						</ul>
					<% else %>	
						<p>There have been no recent inspections.</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>