<%= form_for @inspection do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
	<% f.fields_for :questions do |builder| %>
		<div class="field">
			<%= builder.label :content, "Question" %><br />
			<%= builder.text_area :content, :rows => 3 %>
		</div>
	<% end %>
  <div class="actions"><%= f.submit "Submit", :class => 'btn' %></div>
<% end %>
