<section id="inspection-show">
	<p>
	  <strong>Name:</strong>
	  <%= @inspection.name %>
	</p>
	
	<ol>
		<% for question in @inspection.questions %>
			<li><%=h question.content %> // <%=h question.answer.content %><li>
		<% end %>		
	</ol>	

	<p>
	  <%= link_to "Edit", edit_inspection_path(@inspection) %> |
	  <%= link_to "Destroy", @inspection, :confirm => 'Are you sure?', 
								 :method => :delete %> |
	  <%= link_to "Back to #{@inspection.facility.name}", @inspection.facility %>
	</p>
</section>